@model Domain.Issue

@{
    ViewData["Title"] = "Chamado #" + Model.Id;
}

<div class="row">
    <div class="col">
        <h2>Chamado #@Model.Id
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-8">
                <h4>
                    @Model.Title
                </h4>
            </div>
            <div class="col-md-4">
                <span class="text-muted">
                    @Model.CreatedAt
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    @Html.DisplayFor(model => model.Description)
                </p>
            </div>
        </div>
        @foreach (IssuesComment comment in Model.GetCommentsOrdened())
        {
            <div class="row">
                <div class="col-md-2">
                    <img class="img-fluid rounded" alt="@comment.CreatedBy.Name" src="data:image/png;base64, @comment.CreatedBy.Image">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-2 offset-md-10">
                            <span class="text-muted">
                                @comment.CreatedAt
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <p>
                            @comment.Comment
                        </p>
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.CanComment)
        {
            <div class="row">
                <div class="col-md-10 offset-md-2">
                    <form asp-action="Comment">
                        <div class="form-group">
                            <label for="comment">Comentário</label>
                            <textarea class="form-control" name="comment" required></textarea>
                        </div>
                        <input type="hidden" value="@Model.Id" name="id" />
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
    <div class="col-md-2">
        <div class="row text-center">
        @if (ViewBag.CanAssign)
        {
            <div class="col-md-12 p-2">
                <form asp-action="Assign">
                    <input type="hidden" value="@Model.Id" name="id" />
                    <button class="btn btn-primary" type="submit">Assumir</button>
                </form>
            </div>
        }
        @if (ViewBag.CanClose)
        {
            <div class="col-md-12 p-2">
                <form asp-action="Close">
                    <input type="hidden" value="@Model.Id" name="id" />
                    <button class="btn btn-secondary" type="submit">Encerrar</button>
                </form>
            </div>
        }
        @if (ViewBag.CanRate)
        {
            <div class="col-md-12 p-2">
                <form asp-action="Rate">
                    <input type="hidden" value="@Model.Id" name="id" />
                    <div class="form-group">
                        <input type="number" step=".01" name="rate" class="form-control" min="0" max="5" required/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info" type="submit">Avaliar</button>
                    </div>
                </form>
            </div>
        }
        </div>
    </div>
</div>